/*viewport*/
    @viewport {
        width: device-width; /* largeur du viewport */
        zoom: 1; /* zoom initial à 1.0  */
    }
    @-ms-viewport{
        width: device-width;
    }
    @-o-viewport{
        width: device-width;
    }

/* micro reset */
* {
	box-sizing: border-box;
}
html, body, ul {
	padding: 0; margin: 0;
}



/*page*/
body{
    /*pas de margin pour une mise en page header / section-main / footer distribuer*/
    color: #59A1AB;
    background-color:  rgba(0,0,0,0.95);
    line-height: 1.75;
    letter-spacing: 0.025em;
}

#name{
    color: rgba(255, 255, 255, 0.644);
}


#header h3, #header h1, #header a, #footer h3, #footer a, #content p{
    margin: 0vw 1vw 1vw 1vw;
}


/*image*/

    #logo{
        width:15vh;
        border-radius: 50vw;
        opacity: 0.3;
        z-index: 999;
        position: absolute;
        text-align: center;
    }
    #logo2{
        width:15vh;
        border-radius: 50vw;
        border: 5px solid #59A1AB;
        z-index: 9;
        
    }

/*header*/

    #header{
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 5px 5px;

    }
    
    .header-logo{
        width: 15vw; /* remplacer {X} par votre valeur */
        padding-left: 4vh;
        padding-top: 1vh;
    }



    /* Les éléments sont placés l'un à côté de l'autre logo/title/nav*/
    .header-inner {
        display: table;
        width: 100%;
        margin: 0 auto; /* on centre l'élément */
        padding: 0.5vw 2vh; /* on ventile un peu */
    }
    .header-inner > * {
        display: table-cell;
        vertical-align: middle;
    }

    /*title */
    div .title-page{
        text-align: center;
    }

    /*nav*/
    .header-nav ul,
    .header-nav li {
	display: block;
    list-style: none;
    text-align: center;
    }

/*main*/
    #content{
        border-radius: 5px 5px 5px 5px;
    }


/*footer*/
    #footer{
        /*display: none;*/
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 5px 5px 0px 0px;
        text-align: center;
    }


/*lien*/
    a{
        color:#59A1AB;
    }


/*media*/
    @media (max-width:400px) {
        body{
            /*pas de margin pour une mise en page header / section-main / footer distribuer*/
            line-height: 1.25;
            font-size: 4vw;
        }
        /*on supprime les logos à cette taille*/
        #logo, #logo2{
            display: none;
        }
        /* Les éléments sont placés l'un en dessous de l'autre */

        .header-inner > * {
            display: inline;
        }
        .header-nav ul,
        .header-nav li {
        display: flex;
        justify-content: space-between;
        }

    }