/*viewport*/
    @viewport {
        width: device-width; /* largeur du viewport */
        zoom: 1; /* zoom initial à 1.0  */
    }
    @-ms-viewport{
        width: device-width;
    }
    @-o-viewport{
        width: device-width;
    }

/* micro reset */
* {
	box-sizing: border-box;
}
html, body, ul {
	padding: 0; margin: 0;
}



/*page*/
body{
    /*pas de margin pour une mise en page header / section-main / footer distribuer*/
    color: #59A1AB;
    background-color:  rgba(0,0,0,0.95);
    line-height: 1.75;
    font-size: 3vw;
}

#name{
    color: rgba(255, 255, 255, 0.644);
}


#header h3, #header h1, #header a, #footer h3, #footer a, #content p{
    margin: 0vw 1vw 1vw 1vw;
}


/*image*/

#logo{
    width:20vw;
    max-width: 30vw;
    border-radius: 50vw;
    opacity: 0.3;
    z-index: 999;
    position: absolute;
}
#logo2{
    width:20vw;
    max-width: 30vw;
    border-radius: 50vw;
    border: 5px solid #59A1AB;
    z-index: 9;
}

/*header*/

    #header{
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 5px 5px;
    }



    /* Les éléments sont placés l'un à côté de l'autre */
    .header-inner {
        display: table;
        width: 100%;

        margin: 0 auto; /* on centre l'élément */
        padding: 0.5vw 2vw; /* on ventile un peu */
    }
    .header-inner > * {
        display: table-cell;
        vertical-align: middle;
    }



    .header-nav ul,
    .header-nav li {
	display: block;
	list-style: none;
}

/*main*/
    #content{
        border-radius: 5px 5px 5px 5px;

    }


/*footer*/
    #footer{
        /*display: none;*/
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 5px 5px 0px 0px;
    }


/*lien*/
    a{
        color:#59A1AB;
    }


/*media*/
    @media (max-width:600px) {
        body{
            /*pas de margin pour une mise en page header / section-main / footer distribuer*/
            line-height: 1.25;
            font-size: 4vw;
        }
        /*on supprime les logos à cette taille*/
        #logo, #logo2{
            display: none;
        }

        /* Les éléments sont placés l'un à côté de l'autre */
        .header-inner {
            max-width: 100vw;
            margin: 0 auto; /* on centre l'élément */
        }
        .header-inner > * {
            display: inline;
        }
        .header-nav ul,
        .header-nav li {
        display: inline;
        list-style: none;
    }

    }

    @media (max-width:370px) {
        body{
            /*pas de margin pour une mise en page header / section-main / footer distribuer*/
            line-height: 1;
        }

        
        li{
            /*mets la nav en collonne*/
            display: inline;
        }

        /* Les éléments sont placés l'un en dessous de l'autre */
        .header-inner {
            max-width: 100vw;
            margin: 0 auto; /* on centre l'élément */
        }

        .header-nav ul,
        .header-nav li {
        display: inline;
        list-style: none;
    }
}