/*viewport*/
/*@viewport {
    width: device-width; /* largeur du viewport 
    zoom: 1; /* zoom initial à 1.0 
    }
@-webkit-viewport{
    width: device-width;
}
@-moz-viewport{
    width: device-width;
} 
@-ms-viewport{
    width: device-width;
}
@-o-viewport{
    width: device-width;
}*/


/*bouton*/
.btn {
    text-decoration: none;
    padding: 9px;
    font-family: tahoma;
    font-size: 0.5em;
    color: #0c0c0c;
    background-color: #d8d8d8;
    border-radius: 11px;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border: 3px groove #a5a5a5;
    box-shadow: 3px 3px 12px #95b3d7;
    -webkit-box-shadow: 3px 3px 12px #95b3d7;
    -moz-box-shadow: 3px 3px 12px #95b3d7;
}

.btn:hover {
    padding: 10px;
    font-size: 0.6em;
    background-color: #548dd4;
    border: 3px solid #0f243e;
    box-shadow: -3px -3px 12px #95b3d7;
    -webkit-box-shadow: -3px -3px 12px #95b3d7;
    -moz-box-shadow: -3px -3px 12px #95b3d7;
}


/*page*/
#page_entiere{
    width: 100%;
    height: auto;
    display: table;
    table-layout: fixed;
    border-spacing: 10px;
    max-width: 1400px;
}

/*image*/
#acceuil{
    background-image: url(image/IMG_20191214_160258.jpg);
    background-attachment: scroll;
    background-size: 100vw;
    background-color: #444444;
}
#salon{
    background-image: url(image/sky-night-dark-black-1816.jpg);
    transform: rotate(60deg);
    background-color:  #161616;
}

/*body*/
body{
    background-repeat: no-repeat;
    
    background-position:center center;
    
    background-size: 100vw;
    color : white;
    font-size:20px;
    box-sizing: border-box;
    max-width: max-content;
    padding-top: 40em;
    min-height: 100%;
    }

/*header*/
/*
#page_entiere
{
    
}
*/




/*section*/





/*footer*/




