/*viewport*/
@viewport {
    width: device-width; /* largeur du viewport */
    zoom: 1; /* zoom initial à 1.0  */
    }
@-ms-viewport{
    width: device-width;
}
@-o-viewport{
    width: device-width;
}


/*bouton*/

/*page*/
body{
    /*pas de margin pour une mise en page header / section-main / footer distribuer*/
    margin: 0;
}

/* le code suivant permet de distrbuer la mise en page header / section-main / footer sur 100vh = 100% de la page*/
.page-salon{
    display: flex;
	flex-direction: column;
	min-height: 100vh;
}
.page-acceuil{
    display: flex;
	flex-direction: column;
	min-height: 100vh;
}

/*image*/
#img-acceuil{
    background-image: url(image/FB_IMG_1568757459591.jpg);
    background-position: CENTER CENTER;
    background-size: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#img-salon{
    background-image: url(image/FB_IMG_1568757459591.jpg);
    background-position: center;
    background-size: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/*body*/
body{
    background-color:  black;
    padding: 0px 10px 0px 10px;
    }


/*header*/
.site-header{
    background-color: black;
    padding: 0px 10px 0px 10px;
    color: white;
    max-height: 1vh;
}

/*main*/
.site-content{
    padding: 0px 10px 0px 10px;
    /*met le footer en bas de page*/
    flex: 1;
    /*effet bizare à voir
    padding: 1000px;*/
    margin-top: 100px;
}




/*footer*/
.site-footer{
    background-color: black;
    padding: 0px 10px 0px 10px;
    color: white;
    max-height: 1vh;
}
