/*viewport*/
@viewport {
    width: device-width; /* largeur du viewport */
    zoom: 1; /* zoom initial à 1.0  */
    }
@-ms-viewport{
    width: device-width;
}
@-o-viewport{
    width: device-width;
}


/*bouton*/

/*page avec flex*/
body{
    /*pas de margin pour une mise en page header / section-main / footer distribuer*/
    margin: 0;
}

/* le code suivant permet de distrbuer la mise en page header / section-main / footer sur 100vh = 100% de la page*/
.page-salon{
    display: flex;
	flex-direction: column;
	min-height: 100vh;
}
.page-acceuil{
    display: flex;
	flex-direction: column;
	min-height: 100vh;
}

/*image*/
#img-acceuil{
    background-image: url(image/FB_IMG_1568757459591.jpg);
    background-position: CENTER CENTER;
    background-size: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#img-salon{
    background-image: url(image/essai.gif);
    background-position: center;
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/*body*/
body{
    background-color:  rgb(10, 10, 10);

    min-height: 100vh;
    }


/*header*/
.site-header{
    background-color: rgb(0, 0, 0);
    padding: 0px 10px 0px 10px;
    border-radius: 0px 0px 5px 5px;
    color: #59A1AB;
}

.site-header h3, .site-header h1, .site-footer h3, .site-footer p{
    margin-top: 1vh;
    margin-bottom: 1vh;
}

/*main*/
.site-content{
    /*met le footer en bas de page*/
    flex: 1 0 0;
    /*effet bizare à voir
    padding: 1000px;*/
    border-radius: 5px 5px 5px 5px;
}


/*footer*/
.site-footer{
    background-color: black;
    padding: 0px 10px 0px 10px;
    color: #59A1AB;
    border-radius: 5px 5px 0px 0px;
}
