/*viewport*/
    @viewport {
        width: device-width; /* largeur du viewport */
        zoom: 1; /* zoom initial à 1.0  */
    }
    @-ms-viewport{
        width: device-width;
    }
    @-o-viewport{
        width: device-width;
    }

/* micro reset */
html, body, ul {
	padding: 0; margin: 0;
}

/*mise en place d'un patron de police pour changement de la taille en 1 fois !*/
html {
    font-size:18px;
}

/* masquer les éléments superflus */

.hide {
    display: none !important;
}


/*mise en page grid-layout*/

/*page en grid pour header/content/footer dont header en grid pour logo/title/nav*/

/* Global Layout */
.container {
    display: grid;
    grid-template:15vw 1fr 15vw/ 1fr / 1fr / 1fr
}


    /* Explicit placement */

    .header-logo{
        grid-column: 1;
        grid-row:1;
    }
    .header-title{
        grid-column: 2;
        grid-row:1;
    }
    .header-nav {
        grid-column: 3;
        grid-row:1;
    }
    section {
        grid-row: 3;
        grid-column: 1/ span 3;
    }
    footer {
        grid-row: 4;
        grid-column: 1/ span 3;
    }



    
    /*design*/

body{
    /*pas de margin pour une mise en page header / section-main / footer distribuer*/
    color: #59A1AB;
    background-color:  rgba(0,0,0,0.95);
    letter-spacing: 0.025rem;
    padding-top:0.5rem;
}



/*rajout image*/ 
/*image header*/
.header-logo{
    background-image: url(../image/25-Tatouage-tribal.eu-Tatouage-tete-de-mort-.jpg);
    background-size: contain;
    background-position : 50% 50%;
    background-repeat: no-repeat;
    width : 15vh; height : 15vh ;
    min-width: 100px; min-height : 100px;
    border: 5px solid #59A1AB;
    border-radius:75px;
    margin:auto;
}

/*entête - title*/
.header-title{
    text-align: center;
    margin:auto;
}
#name{
    color: rgba(255, 255, 255, 0.644);
}


/*nav*/
.header-nav{
    text-align: right;
    margin:auto;
}

/*pour enlever le style de la liste*/
.header-nav li {
    list-style: none;
    line-height: 1.75;
}
/*lien*/
a{
    color:#59A1AB;
}



/*Content/section*/



#content{
    font-size: 0.9rem;
    /*pour faire du 3/4-1/4 alternant
    display: grid;
    grid-template: 33vw 32vw 33vw;*/

    /*pour faire mumuse avec flex
    display : flex;*/

}

/*si pas d'alternance d'image*/
img{
    /*width:75vw;*/
    width:98vw;
    border: 1px solid #59A1AB;
    border-radius:10px;
    height: auto;
}
/*
p{
    text-align: center;
    grid-row: 1;
    grid-column:2/span 3;
}

.img1{
    width:75vw;
    border: 1px solid #59A1AB;
    border-radius:10px;
    height: auto;
    grid-row: 1;
    grid-column:1/span 2;
}
.img2{
    width:75vw;
    border: 1px solid #59A1AB;
    border-radius:10px;
    height: auto;
    grid-row: 2;
    grid-column:2/span 3;
}
.img3{
    width:75vw;
    border: 1px solid #59A1AB;
    border-radius:10px;
    height: auto;
    grid-row: 3;
    grid-column:1/span 2;
}
.img4{
    width:75vw;
    border: 1px solid #59A1AB;
    border-radius:10px;
    height: auto;
    grid-row: 4;
    grid-column:2/span 3;
}
.img5{
    width:75vw;
    border: 1px solid #59A1AB;
    border-radius:10px;
    height: auto;
    grid-row: 5;
    grid-column:1/span 2;
}
*/


/*footer*/

#footer{
    text-align: center;
    font-size:0.8rem;
}

.reseaux {
    font-size: 1.5rem;
}
.reseaux:nth-child(n+2) {
    padding-left: 1rem;
}


/*media queries*/

@media screen and (max-width:900px) {

    html {
     font-size: 16px; /* rendre les polices plus petites pour mobile */
    }

    .header-logo{
    display: none;
    }

    .header-title{
        grid-column: 1/ span 2;
        grid-row:1;
    }
    .header-nav{
        text-align: center;
    }


}
